@import "@styles/colours.scss";

.option-chooser {

  &-wrapper {
    overflow: hidden;
    border-radius: 4px;
  }

  &__option {
    display: none;

    &:checked + label{
      background-color: $pink;
      &:hover {
        background-color: $light-pink;
      }
    }
  }

  &__label {
    display: inline-block;
    font-size: 20px;
    padding: 8px 24px;
    background-color: $grey;
    cursor: pointer;

    &:hover {
      background-color: $btn-grey;
    }
  }
}
